
main {
    background: center / cover no-repeat white;
}

    /* Config para ajustar o carrossel em telas maiores */
.d-block {
    max-height: 80vh;
    object-fit: contain;
}
#goku {
    background: url(../imagens/Goku-paisagem.jpeg) no-repeat;
    background-size: cover;
    backdrop-filter: blur(1px); 
}
#f1 {
    background: url(../imagens/F1\ -\ perfil.jpeg) no-repeat;
    background-size: cover;
    backdrop-filter: blur(1px); 
}
#got {
    background: url(../imagens/Game-thrones-perfil.jpeg) no-repeat;
    background-size: cover;
    backdrop-filter: blur(1px); 
}
    /* Config dos exemplos de produtos no index */
aside.cards-prod {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

aside.cards-prod h1 {
    padding: 10px;
}

div.prod {
    display: flex;
    flex-direction: column;

    border-radius: 1em;
    overflow: hidden;
    text-align: center;

    margin: 10px;
    color: white;
    background-color: #24426A;
    box-shadow: 0px 0px 5px black;
}

div.prod p {
    font-weight: bold;
    margin: 0;
    padding: 10px;
}

img.imgprod {
    width: 100%;
    object-fit: cover;
    height: 60vh;
}
