main {
    /* height: calc(100vh - 110px); */
    background: center / cover no-repeat white;
}

aside#cards-prod {
    /* Config para ajustar o carrossel em telas maiores */
    max-height: 80vh;
    object-fit: contain;
}
#goku {
    background: url(../imagens/Goku-paisagem.jpeg) no-repeat;
    background-size: cover;
    backdrop-filter: blur(1px); 
}
#f1 {
    background: url(../imagens/F1\ -\ perfil.jpeg) no-repeat;
    background-size: cover;
    backdrop-filter: blur(1px); 
}
#got {
    background: url(../imagens/Game-thrones-perfil.jpeg) no-repeat;
    background-size: cover;
    backdrop-filter: blur(1px); 
}
    /* Config dos exemplos de produtos no index */
aside.cards-prod {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 96vw;
}

aside#cards-prod h1 {
    padding: 10px;
}

div.prod {
    width: 100%;
    color: white;
    background-color: #24426A;
    box-shadow: 1px 1px 5px black;
    box-shadow: 0px 0px 5px black;
}


    /* Configs da img do whats no canto da tela */
.contatosFixed {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-block: 20px;
}