@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte1: "Exo 2", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--fonte1);
}

header {
    display: flex;
    align-items: center;
    background-color: #24426A;
    justify-content: space-between;
}

header a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #F2BB13;
    padding: 0.8rem 1rem;
    text-decoration: none;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    transition: all 0.3s ease;
    margin: 0 5px;
}

header a:hover {
    color: white;
    background-color: rgba(36, 66, 106, 0.8);
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}

header span {
    display: block;
    padding: .75rem;
    border-radius: 1.5rem;
    border: .1rem solid #F2BB13;
    margin-right: 1.05em;
    color: #F2BB13;
    cursor: pointer;
}

span#menu {
    z-index: 6;
}

header span:hover {
    color: #F20505;
    border-color: #F20505;
    transition: 0.5s;
}

img#logo {
    height: 12vh;
    padding: 0.5rem;
    margin: auto;
}

menu {
    display: none;
}

menu>ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #24426A;
    clip-path: circle(100px at 10% 10%);
    animation: reveal 1s forwards cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 5;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    pointer-events: none;

    display: flex;
    gap: 0;
    list-style-type: none;
}

menu>ul>li>a {
    display: block;
    justify-content: space-between;
    padding-block: 2rem;

    z-index: 6;
}

.nav-list {
    clip-path: circle(1500px at 10% 10%);
    pointer-events: all;
    padding: 0;
}

.d-none {
    display: none !important;
}

/* Configs da img do whats no canto da tela */

.WhatsLogoFixed {
    display: flex;
    width: fit-content;
    position: fixed;
    bottom: 15%;

}

.WhatsLogoImg {
    width: 70px;
    min-width: 60px;
}

.WhatsLogoImg:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: transform 0.5s ease;
}

/* Configs do Footer */

.FooterBanner {
    background-color: #24426A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

.LogoHorizontalFooter {
    width: 15%;
    min-width: 160px;
}

.InstaLogoImg,
.MapsLogoImg {
    width: 60px;
}

.InstaLogoImg:hover,
.MapsLogoImg:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: transform 0.5s ease;
}

.ContatosLogoFooter {
    display: flex;
    justify-content: center;
    gap: 30%;
}

.FooterBanner p {
    color: #eee9e9;
    font-size: 0.8rem;
    margin: 0.5rem 0;
}