
.dropdown-menu{
    height: auto;  
}


.leftcol{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-family: var(--fonte1);
    margin-top: 0;
    width: 20%;
    height: 100%;
    background-color: burlywood;
    height: 100vh;
    width: 20%;
   
}

ul li{
    list-style-type: none;
}

.lista-itens{
    margin-top: 20%;  
}

.nav-item{
    font-size: 1.7rem;
}


#action-figures{
    display: none;
}