@charset "UTF-8";

@media screen and (min-width: 750px) {

    header {
        display: flex;
        padding: 0px 1.5em;
    }

    span#menu {
        display: none;
    }

    img#logo {
        margin: 0px;
    }

    menu#itens {
        display: block !important;
    }

    menu > ul {
        position: relative;
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        padding: 0;
        width: auto;
        height: auto;

        flex-direction: row;

        padding: 0px;
        margin: 0px;
        margin-right: .5rem;
        gap: 2em;
    }
}